*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    padding: 15px 10px;
    .header-title{
        font-size: clamp(16px , 4vw, 32px);
        font-weight: 900;
        a{
            text-decoration: none;
            color: black;
     
        }
    }
    .search-box {
        width: fit-content;
        position: relative;
        margin: 7px 20px;
        display: flex;
    }
    
    input[type=text] {
        padding: 6px;
        font-size: 18px;
        background-color: #f4f8fa;
        border-radius: 15px;
        border: none;
    }
    
    .search-box button {
        font-size: 18px;
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-50%);
        border: none;
        background: none;
        cursor: pointer;
    }
}