.product-wrapper{
    width: 80%;
    margin: 5em auto;
    display: flex;
    justify-content: space-between;
    .product-image{
        width: 45%;
        .image-box{
            width: 100%;
            aspect-ratio: 1 / 1;
            background: aqua;
        }
    }
}