*{
    margin: 0;
    padding: 0;
}
#head{

}
#category{
    ul{
        display: flex;
        li{
            background-color: blue;
            border-radius: 50%;
            list-style: none;
        }
    }
}
#new{
    ul{
        display: flex;
        flex-wrap: wrap;
        width: 25%;

        li{
            list-style: none;
            background-color: red;
        }
    }
}

