{% extends 'base.html' %}        
<!-- メインコンテンツ -->
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/buy_check.css') }}">
<div class="check-wrapper">
    <h2>入力した情報を確認</h2>

    <div class="left">
        <table border="5" id="tbl" width="90%">
            <!-- <div class="table"> -->
                <tr>
                    <td rowspan="6">お届け先</td>
                </tr>
                <tr>
                    <td>お名前</td>
                    <td>HAL太郎</td>
                </tr>
                <tr>
                    <td>郵便番号</td>
                    <td>530-0001</td>
                </tr>
                <tr>
                    <td>都道府県</td>
                    <td>大阪府大阪市北区梅田３丁目３−１</td>
                </tr>
                <tr>
                    <td>住所</td>
                    <td>大阪府大阪市北区梅田３丁目３−１</td>
                </tr>
                <tr>
                    <td>電話番号</td>
                    <td>06-6347-0001</td>
                </tr>
            <!-- </div> -->
            <!-- <div class="table"> -->
                <tr>
                    <td rowspan="">受け取り場所</td>
                    <td colspan="2">対面で受け取り</td>
                </tr>
                <!-- <tr> -->
                <!-- </tr> -->
            <!-- </div> -->
            <!-- <div class="table"> -->
                <tr>
                    <td rowspan="">支払い方法</td>
                    <td colspan="2">コンビニ支払い</td>
                </tr>
            <!-- </div> -->
        </table>
    </div>

    <div class="right">
        
        <!-- 
            画像表示
         -->

        <div id="price">

            <h3>金額</h3>
                <p>369,800円</p>
            <h3>送料・手数料</h3>
                <p>300円</p>
            <hr width="80%">
            <h3>合計</h3>
                <p>370,100円</p>
        </div>
        <form action="" method="POST" id="">
            <a href="/complete">購入確定</a>
        </form>
    </div>


</div>



{% endblock %}