{% extends 'base.html' %}        
<!-- メインコンテンツ -->
{% block main %}
<link rel="stylesheet" href="../static/css/complete.css">
<title>購入完了</title>
        <h2>購入完了しました</h2>

    <hr>

    <p class="main">出品者様に購入完了の通知をお送り致しました。<br>
        ご購入商品の到着まで、今しばらくお待ちいただけますようよろしくお願い申し上げます。<br>
        なお、キャンセル等ございましたら、お早めに出品者様へご連絡いただけますようよろしくお願い申し上げます。</p><br>
    
    <a href="" class="product" style="text-decoration: none;">商品詳細へ</a><br>

    <a href="" class="top" style="text-decoration: none;">TOPページへ</a>

{% endblock %}