<!-- ページを追加する場合、基本的に全てのブロックを記述してください -->
{% extends 'base.html' %}
<!-- headタグ -->
{% block head %}
    {{ super() }}

    <!-- 追加のcssファイルを記述する場合はここから -->
    {% block externalcss %}
        <link rel="stylesheet" href="../static/css/">
    {% endblock %}
    
    <!-- ページ名(基本的に上書き) -->
    {% block title %}
        タイトル名
    {% endblock %}
{% endblock %}

<!-- ナビゲーションバー(検索バー) -->
{% block nav %}
    {{ super() }}
{% endblock %}

{% block main %}

        <header>
            <h1>DIGITAL MARCHE</h1>
            <div class="search-box">
                <input type="text" placeholder="探し物は何ですか？">
                <button type="submit"><i class="fa fa-search" >aaaa</i></button>
            </div>
        </header>

{% endblock %}