
<footer>
    <link rel="stylesheet" href="../static/css/footer.css">
    <div class="footer-wrapper">
        <div class="footer-list">
            <section>
                <h3>デジタルマルシェについて</h3>
                <ul>
                    <li>
                        <a href="">HOME</a>
                    </li>
                </ul>
            </section>
            <section>
                <h3>デジタルマルシェについて</h3>
                <ul>
                    <li><a href="">会社概要</a></li>
                    <li><a href="">採用情報</a></li>
                    <li><a href="">プレスリリース</a></li>
                </ul>
            </section>
            <section>
                <h3>ヘルプ</h3>
                <ul>
                    <li><a href="">ヘルプセンター</a></li>
                    <li><a href="">よくある質問</a></li>
                    <li><a href="">お問い合わせ</a></li>
                </ul>
            </section>
        </div>
        <div class="copyright">
            <p>©DIGITAL MARCHE</p>
        </div>
    </div>
</footer>