{% extends 'base.html' %}
<!--  -->
{% block head %}
    {{ super() }}
    {% block cssfilename %}
        style.css
    {% endblock %}
    
    {% block title %}
        トップページ
    {% endblock %}
{% endblock %}
<!--  -->


<!--  -->
{% block nav %}
    {{ super() }}
{% endblock %}



{% block main %}

        <header>
            <h1>DIGITAL MARCHE</h1>
            <div class="search-box">
                <input type="text" placeholder="探し物は何ですか？">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </header>


{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
