<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録</title>
</head>
<body>
    
    <h1>新規登録</h1>

    <a href="/templates/rogin_costomor.html">
        <p>＜ログイン画面に戻る</p>
    </a>

    <form action="" method="post">
        <table>
            <tr>
                <td>ユーザ名</td>
                <!-- uname = "u"ser_"name" -->
                <td><input type="text" name="uname" id=""></td>
            </tr>
            <tr>
                <td>ユーザID</td>
                <!-- uid = "u"ser_"id" -->
                <td><input type="text" name="uid" id=""></td>
            </tr>
            <tr>
                <td>パスワード</td>
                <td><input type="text" name="pass" id=""></td>
            </tr>
            <tr>
                <td>パスワード再確認</td>
                <!-- repass = "re"confirmation_"pass" -->
                <td><input type="text" name="repass" id=""></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="新規登録">
    </form>

</body>
</html>