

<!-- ページを追加する場合、基本的に全てのブロックを記述してください -->
{% extends 'base.html' %}
<!-- headタグ -->
{% block head %}
    {{ super() }}

    <!-- 追加のcssファイルを記述する場合はここから -->
    {% block externalcss %}
        <link rel="stylesheet" href="">
    {% endblock %}
    
    {% block title %}
        商品詳細ページ
    {% endblock %}
{% endblock %}

<!-- ナビゲーションバー(検索バー) -->


<!-- メインコンテンツ -->
{% block main %}
    <div class="box" style="height: 100px; width: 100px;background-color: antiquewhite;">あ</div>

{% endblock %}


<!-- フッター以下 -->
{% block footer %}
    {{ super() }}
{% endblock %}
