{% extends 'base.html' %}        
<!-- メインコンテンツ -->
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/product_info.css') }}">
<div class="product-info-wrapper">   
    <h2>購入情報入力</h2>

    <div class="left">
        <table border="5" id="tbl" width="90%">
            <!-- <div class="table"> -->
                <tr>
                    <td rowspan="6">お届け先</td>
                </tr>
                <tr>
                    <td>お名前</td>
                    <td><input type="text" name="" id="" value="HAL太郎"></td>
                </tr>
                <tr>
                    <td>郵便番号</td>
                    <td><input type="text" name="" id=""value="530-0001"></td>
                </tr>
                <tr>
                    <td>都道府県</td>
                    <td><input type="text" name="" id="" value="大阪府"></td>
                </tr>
                <tr>
                    <td>住所</td>
                    <td><input type="text" name="" id="" value="大阪府大阪市北区梅田３丁目３−１"></td>
                </tr>
                <tr>
                    <td>電話番号</td>
                    <td><input type="text" name="" id="" value="06-6347-0001"></td>
                </tr>
            <!-- </div> -->
            <!-- <div class="table"> -->
                <tr>
                    <td rowspan="5">受け取り場所</td>
                </tr>
                <tr>
                    <td colspan="2"><input type="radio" name="place" id="place1" checked><label for="place1">対面で受け取り</label></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="radio" name="place" id="place2"><label for="place2">起き配指定</label></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="radio" name="place" id="place3"><label for="place3">受け取り場所を指定</label></td>
                </tr>
                <tr>
                    <td colspan="">受け取り場所記入欄</td>
                    <td colspan=""><input type="text" name="" id=""></td>
                </tr>
                <!-- <tr> -->
                <!-- </tr> -->
            <!-- </div> -->
            <!-- <div class="table"> -->
                <tr>
                    <td rowspan="5">支払い方法</td>
                </tr>
                <tr>
                    <td colspan="2"><input type="radio" name="payment" id="payment1"><label for="payment1">クレジットカード</label></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="radio" name="payment" id="payment2"><label for="payment2">PayPay</label></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="radio" name="payment" id="payment3" checked><label for="payment3">コンビニ支払い</label></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="radio" name="payment" id="payment4"><label for="payment4">代金引換</label></td>
                </tr>
            <!-- </div> -->
        </table>
    </div>

    <div class="right">
        
        <!-- 
            画像表示
         -->

        <div id="price">

            <h3>金額</h3>
                <p>369,800円</p>
            <h3>送料・手数料</h3>
                <p>300円</p>
            <hr width="80%">
            <h3>合計</h3>
                <p>370,100円</p>
        </div>
        <form action="" method="get" id="">
            <a href="/buy_check">確認画面へ</a>
        </form>
    </div>


</div>



{% endblock %}