{% extends 'base.html' %}
{% block main %}
<link rel="stylesheet" href="../static/css/top.css">
<div id="head">
    <h1>タイトル</h1>
    <!-- ヘッダー画像に編集 -->
</div>
    <div id="category">
        <h1>人気カテゴリー</h1>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div id="new">
        <h1>新着商品</h1>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div id="more">
            <a href="">もっと見る</a>
        </div>
    </div>
{% endblock %}
